<html lang="en">
<head>
<title>OTU: look at that study</title>
 <script src="js/jquery-1.9.1.js"></script>
 <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
 <script src="js/d3.v3.min.js" charset="utf-8"></script>
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">
 <script src="js/bootstrap.min.js"></script>
 <script>
  $(function() {
    $( "#radio" ).buttonset();
  });
 </script>
 <style>
  #format { margin-top: 2em; }
  </style>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">OTU</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="cgi-bin/load_studies.py">Load and List Studies</a></li>
              <li><a href="cgi-bin/search_studies.py">Search Public Studies</a></li>
              <li><a href="#">View Study</a></li>
              <li><a href="tree_dyn.html">View Tree</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
    <body>
    <form>
  <fieldset>
    <legend>Configuration Information</legend>
    <label>Nexson Git Directory</label>
    <div id="divgitdir">
    <input type="text" id="gitdir" name="gitdir" class="input-xxlarge" value="">
    <span class="help-block">This is the directory to the avatol_nexson git directory. <br/> You can leave this empty</span>
    <button type="submit" class="btn" onClick="setConf()">Submit</button>
    </div>
  </fieldset>
</form>
</div>
<script>

function editConf(){
    var st = $("#hiddengitdir").val();
    $("#divgitdir").replaceWith('<div id="divgitdir">');
    $("#divgitdir").append('<input type="text" id="gitdir" name="gitdir" class="input-xxlarge" value=\''+st+'\'>');
    $("#divgitdir").append('<span class="help-block">This is the directory to the avatol_nexson git directory. <br/> You can leave this empty</span>');
    $("#divgitdir").append('<button type="submit" class="btn" onClick="setConf()">Submit</button>');
    $("#divgitdir").append('</div>');
}

function setConf(){
    var st = $("#gitdir").val();
    var baseurl = "http://localhost:7474/db/data/ext/ConfigurationPlugins/graphdb/setNexsonGitDir";
    var method = "POST";
    var senddata = "{\"nexsongitdir\":\""+st+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);    
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    location.reload();
}

function getConf(){
    var baseurl = "http://localhost:7474/db/data/ext/ConfigurationPlugins/graphdb/getNexsonGitDir";
    var method = "POST";
    var senddata = "";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    if (jsonrespstr.length != 0){
	var ev = JSON.parse(eval(jsonrespstr));
	var dir = ev.nexsongitdir;
	$("#divgitdir").replaceWith('<div id="divgitdir">');
	$("#divgitdir").append('<input type="hidden" value=\''+dir+'\' id="hiddengitdir" name="#hiddengitdir"/><strong><p class="text-info">'+dir+'</p></strong>');
	$("#divgitdir").append('<span class="help-block">This is the directory to the avatol_nexson git directory. <br/> You can leave this empty</span>');
	$("#divgitdir").append('<button type="button" class="btn" onClick="editConf()">Edit</button>');
	$("#divgitdir").append('</div>');
    }
}

getConf();
</script>
</body>
</html>
