<html>
  <head>
    <title>OTU: get data in there</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <script src="../js/jquery-1.9.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      } #resultsTable td {
		  padding: 0 .3em 0 .3em;
	  }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">OTU</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="cgi-bin/load_sources.py">Load and List Sources</a></li>
              <li class="active"><a href="#">Search Sources</a></li>
              <li><a href="source_view.html">View Source</a></li>
              <li><a href="tree_dyn.html">View Tree</a></li>
              <li><a href="conf.html">Configure</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
    <div style="position:absolute; top:8.7em; right:0; width: 25em; padding-right:3em;">
      <form class="form-inline">
        <button type="button" class="btn btn-large btn-primary" onclick="initRemoteIndexing(); return false;">Index remote sources for searching</button>
      </form>
      <div id="statusCount"></div>
      <div id="statusMessage"></div>
    </div>
      <h2>Search all sources</h2>
          <form id="searchform" class="form-inline">
            <div class="btn-group" data-toggle="buttons-radio">
              <input id="searchtext" type="text" style="height:3.2em; width:20em; margin:0 .35em 0 0;"></input>
              <select id="propertyselect" class="select-large" style="height: 3.2em; width:15em"></select>
            </div>
              <button type="button" class="btn btn-large btn-success" onclick="search(); return false;">Search</button>
          </form>
          <div id="results">
            <table id="resultsTable"></table>
          </div>
    </div>
  <script language ="javascript" type = "text/javascript" >

function search() {
	getRecentHash();
    var propertyServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/search";
//    alert(property + " " + value);
    document.getElementById("resultsTable").innerHTML = "";
    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {

            jsonrespstr = xobj.responseText;
            var resultIds = JSON.parse(jsonrespstr);
            $(resultIds).each(function(i) {
                addResult(resultIds[i]);
            });
        }
    }
    xobj.open("POST", propertyServiceURL, true);
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","Application/json");

    var property = $("#propertyselect").val();
    var value = $("#searchtext").val();
    xobj.send(JSON.stringify({"property":property,"value":value}));
}

function addResult(sourceId) {
    var sourceMetadataService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceMetaData";
    var xobj = new XMLHttpRequest();
    xobj.open("POST", sourceMetadataService, true);

    // set the response callback
    xobj.onreadystatechange=function() {
//		alert(xobj.responseText);
        if (xobj.readyState==4 && xobj.status==200) {
//			alert(xobj.responseText);
			var response = JSON.parse(xobj.responseText);
			
			// add the id
			var objRow = document.createElement("tr");
			$(objRow).append('<td>'+sourceId+'</td>');

//			var viewForm;
			var formCell = document.createElement("td");
			// only make the view form usable if the study is imported
			if (response.has_local_copy == true) {
				// form to switch to view of local studies
				var viewForm = document.createElement("form");
				$(viewForm).attr("style","display: inline");
				var viewSubmit = document.createElement("button");
				$(viewSubmit).attr("name","submit").attr("type","submit").addClass("btn btn-primary").append("View"); //</button>');
				$(viewForm).append(viewSubmit);

				$(viewForm).append('<input type="hidden" name="sourceId" id="sourceId" value="'+sourceId+'" />');
				$(viewForm).attr("action", "source_view.html").attr("method", "GET");
				$(formCell).append(viewForm);
			} else {
//				$(viewSubmit).addClass("disabled");
//				viewSubmit.disabled = true;

				// form to load remote studies
				var loadForm = document.createElement("form");
				$(loadForm).attr("style","display: inline")
				var loadSubmit = document.createElement("button");
				$(loadSubmit).attr("name","submit").attr("type","submit").attr("enctype","multipart/form-data").addClass("btn").append("Load"); //</button>');
				$(loadForm).append(loadSubmit);

				// only make the load form usable if the study is not already imported
//				if (response.has_local_copy == false) {
				$(loadForm).append('<input type="hidden" name="hidden_nexson_from_git" id="hidden_nexson_from_git" value="true" />')
				.append('<input type="hidden" name="nexsonid" id="nexsonid" value="' + sourceId + '" />')
				.append('<input type="hidden" name="recenthash" id="recenthash" value="' + recenthash + '" />');
				$(loadForm).attr("action", "cgi-bin/load_sources.py").attr("method", "POST");
//				} else {
//					$(loadSubmit).addClass("disabled");
//					loadSubmit.disabled = true;
//				}
				$(formCell).append(loadForm);
			}
//			$(objRow).append($(document.createElement("td")).append(viewForm));
//			$(objRow).append($(document.createElement("td")).append(loadForm));
			$(objRow).append(formCell);

			$(objRow).append('<td style="font-size:0.8em">' + response.metadata['ot:studyPublicationReference'].substring(0,100) + '...</td>');
//			$(objRow).append("<td>" + (response.has_local_copy ? "local" : "(notlocal)") + "</td>");
//			$(objRow).append("<td>" + (response.remotes_known.length > 0 ? "remote" : "(notremote)") + "</td>");



			$("#resultsTable").append(objRow);
			
//			var keys = Object.keys(ev.metadata);
//			$(keys).each(function(index){
//				var property = keys[index];
//				var value = ev.metadata[property];
//				if (typeof value == "string") {
//					if(value.substring(0,7) == "http://") {
//						value = '<a href="' + value + '", target="_blank">' + value + '</a>';
//					}
//				}
//				$('#sourceinfoTBL').append('<tr><td>' + property + '</td><td>' + value + '</td></tr>');
//			});
//			var trees = ev.trees;
//			var n_trees = trees.length;

			//add the trees
//			$(trees).each(function(index, element){
//				var treeheader = document.createElement("h3");
//				treeheader.innerHTML = 'Tree: <a href="tree_dyn.html?treeId='+element+'">'+element+'</a> <button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick="editTreeInfo()">Edit</button> <button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick=\'deleteTree("'+id+'","'+element+'")\'>Delete Tree</button>';
//				document.getElementById("treeinfo").appendChild(treeheader);
//				addTreeInfo(element);
//			});
		}
	};
    
    // send the request
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","application/json");
    xobj.send(JSON.stringify({"sourceId":sourceId}));
}

var recenthash= "(commit hash unknown)";
function getRecentHash() {
    var nexsonsInfoService = "http://localhost:7474/db/data/ext/Indexing/graphdb/getMostCurrentNexsonsURL";
    var xobj = new XMLHttpRequest();
    xobj.open("POST", nexsonsInfoService, false);

	// send the request
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-type", "Application/json");
    xobj.send("");

    // set the response callback
//	alert("response was" + xobj.responseText);
	if (xobj.readyState==4 && xobj.status==200) {
//		alert(xobj.responseText);
		recenthash = JSON.parse(xobj.responseText).recenthash;
	}
}

// ===== indexing

// used during source indexing
var countProcessed = 0;
var totalCount = 0;

function initRemoteIndexing() {
    setStatus("Indexing in progress! This message will be updated as indexing proceeds.");
    setStatus("Keep this window open until indexing is complete, or close this window to stop indexing.");

    var mostCurrentCommitURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getMostCurrentNexsonsURL";
    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {
            curNexsonsBaseURL = JSON.parse(xobj.responseText).url;
            alert("Attempting to read nexsons from: " + curNexsonsBaseURL);
            indexEachRemoteNexson(curNexsonsBaseURL);
        }
    }
    xobj.open("POST", mostCurrentCommitURL, true);
    xobj.setRequestHeader("Accept", "*/*");
    xobj.setRequestHeader("Content-Type","Application/json");
    xobj.send("");

}

function indexEachRemoteNexson(curNexsonsBaseURL) {
    var nexsonsListURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getNexsonsListFromURL";

    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
//		alert(xobj.responseText);
        if (xobj.readyState==4 && xobj.status==200) {
//        alert(xobj.responseText);
            var sources = JSON.parse(xobj.responseText)
            totalCount = sources.length;
            for (var i=0; i < sources.length; i++) {
//                alert("sending " + sources[i]); 
                indexSingleSource(sources[i], curNexsonsBaseURL + sources[i], i*100);
            }
        }
    }
    xobj.open("POST", nexsonsListURL, true);
    xobj.setRequestHeader("Accept", "*/*");
    xobj.setRequestHeader("Content-Type","Application/json; charset=utf-8");
    xobj.send(JSON.stringify({"url":curNexsonsBaseURL}));

}

function indexSingleSource(sid, url, delay) {
    var sourceId = sid;
    var URL = url;
    setTimeout(function() {
        var indexServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/indexSingleNexson";
//        alert("received " + sourceId); 

        var xobj = new XMLHttpRequest();
        xobj.onreadystatechange=function() {
            if (xobj.readyState==4) {
                if (xobj.status==200) {
                    if (JSON.parse(xobj.responseText) == true) {
                        setStatus("Indexed source: " + sourceId);
                    } else {
                        setStatus("Source " + sourceId + " was not indexed. It does not appear to contain any trees.");
                    }
                } else if (xobj.status >= 400) {
                    setStatus("Indexing failed for source " + sourceId + ". Server returned status " + xobj.status + ".");
                    setStatus(xobj.responseText);
                }
                countProcessed++;
                document.getElementById("statusCount").innerHTML = "<p>Sources processed: " + countProcessed + " / " + totalCount + "</p>";
            }
        }
        xobj.open("POST", indexServiceURL, true);
        xobj.setRequestHeader("Accept", "*/*");
        xobj.setRequestHeader("Content-Type","Application/json");
        xobj.send(JSON.stringify({ "sourceId" : sourceId, "url" : url }));
    }, delay);
}

function setStatus(statusMsg, replace) {
    var msg = document.createElement('p');
    msg.innerHTML = statusMsg;
    if (replace == true) {
        document.getElementById("statusMessage").innerHTML=msg.innerHTML;
    } else {
        document.getElementById("statusMessage").appendChild(document.createElement("p"));
        document.getElementById("statusMessage").appendChild(msg);
    }
}

// ===== called on page load (see below)

function fillPropertyList(){
    var propertyServiceURL = "http://localhost:7474/db/data/ext/Indexing/graphdb/getSearchableProperties";
    var xobj = new XMLHttpRequest();
    xobj.onreadystatechange=function() {
        if (xobj.readyState==4 && xobj.status==200) {
        
            jsonrespstr = xobj.responseText;
//            alert(jsonrespstr);
        
            var pMap = JSON.parse(jsonrespstr);
            var names = Object.keys(pMap);

            $(names).each(function(i){
                var item = document.createElement("option");
                item.setAttribute("value", pMap[names[i]]);
                item.innerHTML=names[i];
                document.getElementById("propertyselect").appendChild(item);
            });
        }
    }
    xobj.open("POST", propertyServiceURL, true);
    xobj.setRequestHeader("Accept", "");
    xobj.setRequestHeader("Content-Type","Application/json");
    xobj.send("");
}

fillPropertyList();

  </script> 
</body>
</html>
