<html lang="en">
    <head>
        <title>OTU: look at that source</title>
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="js/d3.v3.min.js" charset="utf-8"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script src="js/bootstrap.min.js"></script>
        <script src="js/otutils.js"></script>
        <style>
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
} .treeHeader * {
    margin-right: 0.22em;
} #editSourceBtn, .editTreeBtn {
    width: 10em;
} #loadFormContainer {
    position: absolute;
    top: 6.7em;
    right:3em;
    width: 22em;
    padding-right:0em;
} .submitTreeEditsBtn, #submitSourceEditsBtn {
    position: absolute;
    top: 0;
    right: 0;
} #format {
    margin-top: 2em;
} .editForm {
    position: relative;    
} .formTable tr td .form-control {
    font-size: 1em;
    width: 100%;
    margin: 0;
} form tr td input {
    padding: 0.8em 0.4em 0.8em 0.4em;
    height: 1.7em !important;
} form tr td textarea {
    height: 6em;
} form .hidden {
    display: none !important;
    position: absolute !important;
}
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">OTU</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="cgi-bin/load_sources.py">Load and List Sources</a></li>
			                <li><a href="search_sources.html">Search Sources</a></li>
                            <li class="active"><a href="#">View Source</a></li>
                            <li><a href="tree_dyn.html">View Tree</a></li>
                            <li><a href="conf.html">Configure</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <div id="loadFormContainer">
                Load a different source...
	            <form class="form-inline" >
	                <select id="loadselect" style="width: 16em"></select>
	                <button id="loadselectBtn" type="button" class="btn" onClick='loadDifferentSource()'>Load</button>
	            </form>
            </div>
            <h3 id="sourceTitle" class="text-info"></h3>
	        <div class="btn-group">
	            <button type="button" class="btn btn-large btn-success" name="cac" value=0 id="editSourceBtn">Edit Metadata</button>
	            <button type="button" class="btn btn-large btn-success" name="cac" value=1 id="exportBtn">Export</button>
	        </div>
	        <button type="button" class="btn btn-large btn-primary" name="cac" value=2 id="pushSourceBtn">Push Changes</button>
	        <button type="button" class="btn btn-large btn-danger" name="cac" value=3 id="deleteSourceLocalBtn">Delete Local Copy</button>
	        <button type="button" class="btn btn-large btn-danger" name="cac" value=3 id="deleteSourceGitBtn">Delete from Git</button>
            <br/>
            <br/>
            <form id="sourceEditForm" style="position: relative;">
                <h3>Source Info</h3>
                <button name="submitSourceEditsBtn" id="submitSourceEditsBtn" type="button" class="btn btn-large btn-success hidden">Submit Changes</button>
                <table class="table table-striped formTable" id="sourceInfoTable"></table>
            </form>
            <div id="treeInfo"></div>
        </div>
    </div>
    <script>

// called on page load to fill in the dropdown selector for studies
function populateSourceListDropdown() {
    var sourcelinkurl ="../source_view.html?sourceId="
    var sourceListService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceList";
    var xhr = getXhr(sourceListService, function() {
        var response = JSON.parse(xhr.responseText);
        $(response.sources).each(function(i, sourceId) {
            $('#loadselect').append('<option value=' + sourceId + '> sourceId:' + sourceId + '</option>');
        });
    });
    xhr.send(JSON.stringify({"excludedSourceIds":[ activeSourceId ]}));
}

// called on page load to fill in the page content using content from neo4j services
function displaySourceInfo(){
    var sourceMetadataService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceMetaData";

    // set the callback, which will print the result of the request
    var xhr = getXhr(sourceMetadataService, function() { 
        var response = JSON.parse(xhr.responseText);

        // exit early if there is no result
        if (!response.metadata) {
            $("#sourceTitle").html("Nothing found for source " + activeSourceId);
            $("button").each(function(i, element) {
                if ($(element).attr("id") != "loadselectBtn") {
                    $(element).addClass("disabled").click(undefined);
                }
            });
            //.removeClass("disabled");
            return false;
        };
        
        // set event handlers here so the buttons remain inactive if there is no result
        $("#editSourceBtn").click(function() { toggleSourceEditForm() });
	    $("#exportBtn").click(function() { exportSource() });
	    $("#pushSourceBtn").click(function() { pushSource() });
	    $("#deleteSourceLocalBtn").click(function() { deleteSourceLocal() });
	    $("#deleteSourceGitBtn").click(function() { deleteSourceGit() });
	    $("#submitSourceEditsBtn").click(function() { submitSourceEditForm() });
        
        var keys = Object.keys(response.metadata);
        
        // print the source properties to the table
        $(keys).each(function(i, property){
            var value = response.metadata[property];
            var link;
            if (typeof value == "string") {
                if(value.substring(0,7) == "http://") {
                    link = '<a href="' + value + '", target="_blank">' + value + '</a>';
                }
            }

            // append a row for each property
            $("#sourceInfoTable").append(getFormTableRow(property, value, link));
        });
        
        // TODO: should say something about the status of this source
        $('#sourceInfoTable').append('<tr><td><b>Status</b></td><td>Info about mapped names, rooting, ingroup</td></tr>');
        $('#sourceInfoTable').append('</table>');
        
        // add the trees
        $(response.trees).each(function(i, treeId) {
            displayTreeInfo(treeId);
        });
    });

    // send the request
    xhr.send(JSON.stringify({ "sourceId": activeSourceId }));
}

// called for each tree during printout of the metadata
function displayTreeInfo(treeId) {
    var treeInfoService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getTreeMetaData";
    var xhr = getXhr(treeInfoService, function() {

        // create the form and add initial elements
        var formId = "treeEditForm" + treeId;
        var response = JSON.parse(xhr.responseText);
        var treeForm = $(document.createElement("form"))
            .addClass("editForm")
            .attr("id",formId)
            .append($(document.createElement("input"))
                .attr("type","hidden")
                .attr("name","treeId")
                .val(treeId))
            .append($(document.createElement("button"))
                .addClass("btn btn-large btn-success hidden submitTreeEditsBtn")
                .attr("type","button")
                .append("Submit Changes")
                .click(function() { submitTreeEditForm(treeId, formId) }));

        // write the header for this tree
        var treeHeader = $(document.createElement("h3"))
            .addClass("treeHeader")
            .append($(document.createElement("a"))
                .attr("href","tree_dyn.html?treeId=" + treeId)
                .append(treeId))
            .append($(document.createElement("button"))
                .attr("type","button")
                .addClass("btn btn-large btn-success doNotHide editTreeBtn")
                .click(function() { toggleTreeEditForm($("#"+formId)) })
                .append("Edit Metadata"))
            .append($(document.createElement("button"))
                .attr("type","button")
                .addClass("btn btn-large btn-danger doNotHide")
                .click(function() { deleteTree(treeId) })
                .append("Delete Tree"));
        $(treeForm).append(treeHeader);
            
        // create the metadata table
        var keys = Object.keys(response.metadata);
        var treeTable = $(document.createElement("table"))
            .addClass("table table-striped formTable")
            .attr("id", "treeTable" + treeId);

        // write all properties to the table
        $(keys).each(function(i, property) {
            var value = response.metadata[property];
            $(treeTable).append(getFormTableRow(property, value));
        });

        // add the tree metadata to the page
        $(treeForm).append(treeTable);
        $("#treeInfo").append(treeForm);
    });
    
    xhr.send(JSON.stringify({"treeId": treeId}));
}

// called by the form building functions
function getFormTableRow(property, value, displayValue) {

    // make hidden form elements to toggle for editing
    var formControl;
    if (value.length < 80 || value.length == undefined) {
        formControl = $("<input>").attr("value",value).attr("type","text");
    } else {
        formControl = $("<textarea>").append(value);
    }
    $(formControl).addClass("form-control hidden").attr("name", property);
    
    // create a row for this property
    var row = $("<tr>")
        .append($("<td>")
            .attr("width","250px")
            .append(property))
        .append($("<td>")
            .addClass("fieldCell")
            .append($("<span>").addClass("displayValue").append(displayValue ? displayValue : value))
            .append(formControl));

    return row;
}

// ===== functions bound to page buttons and forms

// called by the source selector dropdown
function loadDifferentSource() {
    var sourceId = $("#loadselect").val();
    window.location.href="source_view.html?sourceId=" + sourceId + ""
}

function toggleSourceEditForm() {

    toggleEditForm("#sourceEditForm");

    if ($("#editSourceBtn").hasClass("btn-success")) {
        $("#editSourceBtn").removeClass("btn-success").addClass(" btn-warning").html("Cancel Edits");
    } else {
        $("#editSourceBtn").addClass(" btn-success").removeClass("btn-warning").html("Edit Metadata");
    } 
}

function toggleTreeEditForm(treeEditForm) {

    toggleEditForm(treeEditForm);

    if ($(treeEditForm).find(".editTreeBtn").hasClass("btn-success")) {
        $(treeEditForm).find(".editTreeBtn").removeClass("btn-success").addClass(" btn-warning").html("Cancel Edits");
    } else {
        $(treeEditForm).find(".editTreeBtn").addClass(" btn-success").removeClass("btn-warning").html("Edit Metadata");
    } 
}

function toggleEditForm(formElement) {
//    alert(formElement);
    $(formElement).find(".fieldCell .displayValue").each(function(i, display) {
        $(display).hasClass("hidden") ? $(display).removeClass(" hidden") : $(display).addClass(" hidden");
    });
    $(formElement).find(".fieldCell .form-control").each(function(i, input) { 
        $(input).hasClass("hidden") ? $(input).removeClass(" hidden") : $(input).addClass(" hidden");
    });
    $(formElement).find("button").each(function(i, button) {
        if ($(button).hasClass("hidden")) {
            $(button).removeClass(" hidden")
        } else if (! $(button).hasClass("doNotHide")) {
            $(button).addClass(" hidden");
        }
    });
}

// submit the values from the source editing form to be stored as properties in the graph
function submitSourceEditForm() {

    var sourceMetaNodeIdService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getNodeIdForSourceId";
    var xhr = getXhr(sourceMetaNodeIdService, function() {

        var sourceMetaNodeId = JSON.parse(xhr.responseText);
        submitPropertyEdits(sourceMetaNodeId, $("#sourceEditForm"));
        
    });
    
    // initiate the request for the source meta node id
    xhr.send(JSON.stringify({"sourceId": activeSourceId}));
}

function submitTreeEditForm(treeId, formId) {
    var sourceMetaNodeIdService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getRootNodeIdForTreeId";
    var xhr = getXhr(sourceMetaNodeIdService, function() {

        var treeRootNodeId = JSON.parse(xhr.responseText);
        submitPropertyEdits(treeRootNodeId, $("#"+formId));
        
    });
    
    // initiate the request for the source meta node id
    xhr.send(JSON.stringify({"treeId": treeId}));
}

function submitPropertyEdits(nodeId, propertyForm) {
    
    var submitPropertyEditsService = "http://localhost:7474/db/data/ext/sourceJsons/node/" + nodeId + "/setBasicProperties";
    var xhr = getXhr(submitPropertyEditsService, function() {
        location.reload();
    });

    var keys = [];
    var values = [];
    var types = [];
    $(propertyForm).find(".fieldCell .form-control").each(function(i, input) {
        keys.push(input.name);
        values.push(input.value);
        types.push(typeof input.value);
    });
    
    // send the property edit request using the source meta node id
    xhr.send(JSON.stringify({"keys": keys, "values": values, "types": types}));
}

function editTreeInfo(treeId) {
    alert("this will edit the tree metadata");
    // replace the tree metadata view with a form, turn all the fields to input boxes
    // submit the form to post to a property-updating service
}

function exportSource() {
    alert("this will export the source");
}

function pushSource() {
    alert("this will push the source (after comparing to the git)");
}

function deleteSourceLocal() {
    var deleteLocalSourceService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/deleteSourceFromSourceId";
    xhr = getXhr(deleteLocalSourceService, function() {
        var response = JSON.parse(xhr.responseText);
        window.location.href = "cgi-bin/load_sources.py";
    });
    xhr.send(JSON.stringify({"sourceId": activeSourceId}));
}

function deleteSourceGit() {
    alert("this will delete the source from git");
}

function deleteTree(treeId) {
    var treeDeleteService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/deleteTreeFromTreeId";
    var xhr = getXhr(treeDeleteService, function() {
        response = JSON.parse(xhr.responseText);
        location.reload();
    });
    xhr.send(JSON.stringify({"treeId": treeId}));
}

// ===== on page load

var activeSourceId; // page global
$(document).ready(function() {

    // get the source id from the GET variables
    activeSourceId = getQueryVariable('sourceId');

    if (! activeSourceId) {
        activeSourceId = "undefined"
    }
    $("#sourceTitle").append("Viewing source with id " + activeSourceId);
    populateSourceListDropdown();
    displaySourceInfo();
});

    </script>
</body>
</html>
