<html lang="en">
<head>
<title>OTU: look at that source</title>
 <script src="js/jquery-1.9.1.js"></script>
 <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
 <script src="js/d3.v3.min.js" charset="utf-8"></script>
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">
 <script src="js/bootstrap.min.js"></script>
 <script>
  $(function() {
    $( "#radio" ).buttonset();
  });
 </script>
 <style>
  #format { margin-top: 2em; }
  </style>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">OTU</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="cgi-bin/load_sources.py">Load and List Sources</a></li>
			  <li><a href="search_sources.html">Search Sources</a></li>
              <li class="active"><a href="#">View Source</a></li>
              <li><a href="tree_dyn.html">View Tree</a></li>
              <li><a href="conf.html">Configure</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
    <body>
    <div class="offset5">
    Load a different source...
	<form class="form-inline" >
	    <select id="loadselect" style="width: 450px">
	    </select>
	    <button type="button" class="btn" onClick='loadSelectSource()'>Load</button>
	</form>
    </div>
    <h5 id="sourceId"></h5>
	<div class="btn-group">
	    <button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick="viewSourceInfo()" id="viewSourcetn">View</button>
	    <button type="button" class="btn btn-large btn-success" name="cac" value=1 onClick="exportSource()">Export</button>
	</div>
	<button type="button" class="btn btn-large btn-primary" name="cac" value=2 onClick="pushSource()">Push</button>
	<button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick='deleteSourceDB()' id="deleteSourceDBBtn">Delete Source from DB</button>
	<button type="button" class="btn btn-large btn-danger" name="cac" value=4 onClick="deleteSourceGIT()">Delete Source from GIT</button>
<br/><br/>
<h2>Source Info</h2>
<form>
<fieldset>
<table class="table table-striped" id="sourceinfoTBL">


</table>
<button type="submit" class="btn btn-large btn-warning">Submit source edits</button>
</fieldset>
</form>
<div id="treeInfo">

</div>
</div>
<script>
function setSourceTitle(tt){
    $("#sourceId").replaceWith('<h3 id=source class="text-error">Editing sourceId: '+tt+'</h3>');
}

function getSourceList(id){
    var baseurl = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceList";
    var method = "POST";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send("");
    var jsonrespstr = xobjPost.responseText;
    var evjson = jQuery.parseJSON(eval(jsonrespstr));
    $(evjson.sources).each(function(index, element){
	if(element != id){
	 $('#loadselect').append('<option value='+element+'> sourceId:'+element+'</option>');
	 }
    })
}

function viewSourceInfo(sid){
    window.location.href="source_view.html?sourceId="+sid
}

function loadSelectSource(){
    var st = $("#loadselect").val();
    window.location.href="source_view.html?sourceId="+st+""
}

function addTreeInfo(id, tid){
    var baseurl = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getTreeMetaData";
    var method = "POST";
    var senddata = "{\"sourceId\":\""+id+"\", \"treeId\": \""+tid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    ev = JSON.parse(evjson);
    var keys = Object.keys(ev.metadata);
    $(keys).each(function(index){
	$('#treetable'+tid).append('<tr> <td>'+keys[index]+'</td><td> '+ev.metadata[keys[index]]+' </td></tr>');
    })
    
}

function setSourceInfo(id){
    $("#deleteSourceDBBtn").replaceWith('<button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick=\'deleteSourceDB(\"'+id+'\")\' id="deleteSourceDBBtn">Delete Source from DB</button>');
    $("#viewSourcetn").replaceWith('<button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick=\'viewSourceInfo(\"'+id+'\")\' id="viewSourcetn">View</button>');
    $("#sourceinfoTBL").replaceWith('<table class="table table-striped" id="sourceinfoTBL">');
    var baseurl = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceMetaData";
    var method = "POST";
    var senddata = "{\"sourceId\":\""+id+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);    
    ev = JSON.parse(evjson);
    var keys = Object.keys(ev.metadata);
    $(keys).each(function(index){
	    $('#sourceinfoTBL').append('<tr> <td>'+keys[index]+' </td> <td> <input type="text" class="input-xxlarge" value=\''+ev.metadata[keys[index]]+'\'> </td> </tr>');       
    })
    var trees = ev.trees;
    var n_trees = trees.length;
    if(n_trees > 0){
	$('#sourceinfoTBL').append('<tr><td>Trees ('+n_trees+')</td><td id="sourcetreelistId"></td></tr>');
	$(trees).each(function(index,element){
	    $('#sourcetreelistId').append('  <a href=tree_dyn.html?treeId='+element+' target="_blank">'+element+'</a>');
	    if(index != n_trees-1){
		$('#sourcetreelistId').append(',');
	    }
	})
    }
    //something about status
    $('#sourceinfoTBL').append('<tr><td><b>Status</b></td><td>Info about mapped names, rooting, ingroup</td></tr>');
    $('#sourceinfoTBL').append('</table>');
    //add the trees
    $(trees).each(function(index,element){
	$('#treeInfo').append('<h2>Tree: <a href="tree_dyn.html?treeId='+element+'">'+element+'</a> <button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick="editTreeInfo()">Edit</button> <button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick=\'deleteTree("'+id+'","'+element+'")\'>Delete Tree</button></h2> <table class="table table-striped" id="treetable'+element+'">');
	addTreeInfo(id,element);
	$('#treeInfo').append('</table>');
    })
    
}

function editSourceInfo(){
    alert("this will edit the source metadata");
}
function exportSource(){
    alert("this will export the source");
}
function pushSource(){
    alert("this will push the source (after comparing to the git)");
}
function deleteSourceDB(sid){
    var baseurl = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/deleteSourceFromSourceId";
    var method = "POST";
    var senddata = "{\"sourceId\":\""+sid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);    
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    window.location.href = "cgi-bin/load_sources.py";
}
function deleteSourceGIT(){
    alert("this will delete the source from git");
}
function deleteTree(sid, tid){
    var baseurl = "http://localhost:7474/db/data/ext/treeJsons/graphdb/deleteTreeFromTreeId";
    var method = "POST";
    var senddata = "{\"sourceId\":\""+sid+"\",\"treeId\":\""+tid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    location.reload();
}
/*
 * used for grabbing the ottol id from the url string
 */
function getQueryVariable(variable){
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if(pair[0] == variable){return pair[1];}
  }
  return(false);
}
var id = getQueryVariable('sourceId');
getSourceList(id);
setSourceTitle(id);
setSourceInfo(id);
</script>
</body>
</html>
