<html lang="en">
    <head>
        <title>OTU: look at that source</title>
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="js/d3.v3.min.js" charset="utf-8"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <script src="js/bootstrap.min.js"></script>
        <script src="js/otutils.js"></script>
        <style>
#format {
    margin-top: 2em;
} body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
} .treeHeader * {
    margin-right: 0.22em;
}
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">OTU</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="cgi-bin/load_sources.py">Load and List Sources</a></li>
			                <li><a href="search_sources.html">Search Sources</a></li>
                            <li class="active"><a href="#">View Source</a></li>
                            <li><a href="tree_dyn.html">View Tree</a></li>
                            <li><a href="conf.html">Configure</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="offset5">
                Load a different source...
	            <form class="form-inline" >
	                <select id="loadselect" style="width: 450px"></select>
	                <button type="button" class="btn" onClick='loadDifferentSource()'>Load</button>
	            </form>
            </div>
            <h3 id="sourceTitle" class="text-info"></h3>
	        <div class="btn-group">
	            <button type="button" class="btn btn-large btn-success" name="cac" value=0 id="editSourceBtn" onClick="editSourceInfo(); return false">Edit</button>
	            <button type="button" class="btn btn-large btn-success" name="cac" value=1 id="exportBtn" onClick="exportSource()">Export</button>
	        </div>
	        <button type="button" class="btn btn-large btn-primary" name="cac" value=2 id="pushSourceBtn" onClick="pushSource()">Push</button>
	        <button type="button" class="btn btn-large btn-danger" name="cac" value=3 id="deleteSourceLocalBtn" onClick="deleteSourceLocal()">Delete Source from DB</button>
	        <button type="button" class="btn btn-large btn-danger" name="cac" value=3 id="deleteSourceGitBtn" onClick="deleteSourceGit()">Delete Source from GIT</button>
            <br/>
            <br/>
            <h2>Source Info</h2>
            <table class="table table-striped" id="sourceInfoTable"></table>
            <div id="treeInfo"></div>
        </div>
    </div>
    <script>

// called on page load to fill in the dropdown selector for studies
function populateSourceListDropdown() {
    var sourcelinkurl ="../source_view.html?sourceId="
    var sourceListService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceList";
    var xhr = getXhr(sourceListService, function() {
        var response = JSON.parse(xhr.responseText);
        $(response.sources).each(function(i, sourceId) {
            $('#loadselect').append('<option value=' + sourceId + '> sourceId:' + sourceId + '</option>');
        });
    });
    xhr.send(JSON.stringify({"excludedSourceIds":[currentViewedSourceId]}));
}

// called on page load to fill in the page content using content from neo4j services
function displaySourceInfo(){
    var sourceMetadataService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/getSourceMetaData";

    // set the callback, which will print the result of the request
    var xhr = getXhr(sourceMetadataService, function() { 
        var response = JSON.parse(xhr.responseText);
//        alert(JSON.stringify(ev));
        var keys = Object.keys(response.metadata);
        
        // print the source properties to the table
        $(keys).each(function(i, property){
            var value = response.metadata[property];
            if (typeof value == "string") {
                if(value.substring(0,7) == "http://") {
                    value = '<a href="' + value + '", target="_blank">' + value + '</a>';
                }
            }
            $('#sourceInfoTable').append('<tr><td>' + property + '</td><td>' + value + '</td></tr>');
        });
        
        // should say something about the status of this source
        $('#sourceInfoTable').append('<tr><td><b>Status</b></td><td>Info about mapped names, rooting, ingroup</td></tr>');
        $('#sourceInfoTable').append('</table>');
        
        // add the trees
        $(response.trees).each(function(i, treeId) {
            displayTreeInfo(treeId);
        });
    });

    // send the request
    xhr.send(JSON.stringify({"sourceId":currentViewedSourceId}));
}

// called for each tree during printout of the metadata
function displayTreeInfo(treeId) {
    var treeInfoService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getTreeMetaData";

    var xhr = getXhr(treeInfoService, function() {

        var response = JSON.parse(xhr.responseText);

        // write the header for this tree
        var treeHeader = $(document.createElement("h3"))
            .addClass("treeHeader")
            .append($(document.createElement("a"))
                .attr("href","tree_dyn.html?treeId="+treeId)
                .append(treeId))
            .append($(document.createElement("button"))
                .attr("type","button")
                .addClass("btn btn-large btn-success")
                .click(function() {editTreeInfo(); return false})
                .append("Edit"))
            .append($(document.createElement("button"))
                .attr("type","button")
                .addClass("btn btn-large btn-danger")
                .click(function() {deleteTree(treeId); return false;})
                .append("Delete Tree"));
        $("#treeInfo").append(treeHeader);
            
        // create the metadata table
        var keys = Object.keys(response.metadata);
        var treeTable = $(document.createElement("table"))
            .addClass("table table-striped")
            .attr("id","treeTable"+treeId);

        // write tree properties to the table
        $(keys).each(function(i) {
            treeTable.append('<tr><td>' + keys[i] + '</td><td>' + response.metadata[keys[i]] + '</td></tr>');
        });

        // add the tree metadata to the page
        $("#treeInfo").append(treeTable);
    });
    xhr.send(JSON.stringify({"treeId": treeId}));
}

// ===== functions bound to page buttons and forms

// called by the source selector dropdown
function loadDifferentSource() {
    var sourceId = $("#loadselect").val();
    window.location.href="source_view.html?sourceId=" + sourceId + ""
}

function editSourceInfo() {
    alert("this will edit the source metadata");
    // replace the tree metadata view with a form, turn all the fields to input boxes
    // submit the form to post to a property-updating service
}

function editTreeInfo(treeId) {
    alert("this will edit the tree metadata");
    // replace the tree metadata view with a form, turn all the fields to input boxes
    // submit the form to post to a property-updating service
}

function exportSource() {
    alert("this will export the source");
}

function pushSource() {
    alert("this will push the source (after comparing to the git)");
}

function deleteSourceLocal() {
    var deleteLocalSourceService = "http://localhost:7474/db/data/ext/sourceJsons/graphdb/deleteSourceFromSourceId";
    xhr = getXhr(deleteLocalSourceService, function() {
        var response = JSON.parse(xhr.responseText);
        window.location.href = "cgi-bin/load_sources.py";
    });
    xhr.send(JSON.stringify({"sourceId": currentViewedSourceId}));
}

function deleteSourceGit() {
    alert("this will delete the source from git");
}

function deleteTree(treeId) {
    var treeDeleteService = "http://localhost:7474/db/data/ext/treeJsons/graphdb/deleteTreeFromTreeId";
    var xhr = getXhr(treeDeleteService, function() {
        response = JSON.parse(xhr.responseText);
        location.reload();
    });
    xhr.send(JSON.stringify({"treeId": treeId}));
}

// ===== on page load

var currentViewedSourceId; // page global
$(document).ready(function() {

    // get the source id from the GET variables
    currentViewedSourceId = getQueryVariable('sourceId');

    if (currentViewedSourceId) {
        $("#sourceTitle").append("Viewing source with id " + currentViewedSourceId);
        populateSourceListDropdown();
        displaySourceInfo();
    }
});

    </script>
</body>
</html>
