<html lang="en">
<head>
<title>OTU: look at that study</title>
 <script src="js/jquery-1.9.1.js"></script>
 <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
 <script src="js/d3.v3.min.js" charset="utf-8"></script>
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
 <link href="css/bootstrap-responsive.css" rel="stylesheet">
 <script src="js/bootstrap.min.js"></script>
 <script>
  $(function() {
    $( "#radio" ).buttonset();
  });
 </script>
 <style>
  #format { margin-top: 2em; }
  </style>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">OTU</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="cgi-bin/load_studies.py">Load and List Studies</a></li>
              <li   class="active"><a href="#">View Study</a></li>
              <li><a href="tree_dyn.html">View Tree</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div class="container">
    <body>
    <div class="offset5">
    Load a different study...
	<form class="form-inline" >
	    <select id="loadselect" style="width: 450px">
	    </select>
	    <button type="button" class="btn" onClick='submitDetailsForm()'>Load</button>
	</form>
    </div>
    <h5 id="studyID"></h5>
	<div class="btn-group">
	    <button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick="editStudyInfo()">Edit</button>
	    <button type="button" class="btn btn-large btn-success" name="cac" value=1 onClick="exportStudy()">Export</button>
	</div>
	<button type="button" class="btn btn-large btn-primary" name="cac" value=2 onClick="pushStudy()">Push</button>
	<button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick='deleteStudyDB()' id="deleteStudyDBBtn">Delete Study from DB</button>
	<button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick="deleteStudyGIT()">Delete Study from GIT</button>
<br/><br/>
<h2>Study Info</h2>
<table class="table table-striped" id="studyinfoTBL">

</table>
<div id="treeInfo">

</div>
</div>
<script>
function setStudyTitle(tt){
    $("#studyID").replaceWith('<h3 id=study>studyID: '+tt+'</h3>');
}

function getStudyList(id){
    var baseurl = "http://localhost:7474/db/data/ext/studyJsons/graphdb/getStudyList";
    var method = "POST";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send("");
    var jsonrespstr = xobjPost.responseText;
    var evjson = jQuery.parseJSON(eval(jsonrespstr));
    $(evjson.studies).each(function(index, element){
	if(element != id){
	 $('#loadselect').append('<option value='+element+'> studyID:'+element+'</option>');
	 }
    })
}

function submitDetailsForm(){
    var st = $("#loadselect").val();
    window.location.href="study_view.html?studyID="+st+""
}

function addTreeInfo(id, tid){
    var baseurl = "http://localhost:7474/db/data/ext/treeJsons/graphdb/getTreeMetaData";
    var method = "POST";
    var senddata = "{\"studyID\":\""+id+"\", \"treeID\": \""+tid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    ev = JSON.parse(evjson);
    var keys = Object.keys(ev.metadata);
    $(keys).each(function(index){
	$('#treetable'+tid).append('<tr> <td>'+keys[index]+'</td><td> '+ev.metadata[keys[index]]+' </td></tr>');
    })
    
}

function setStudyInfo(id){
    $("#deleteStudyDBBtn").replaceWith('<button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick=\'deleteStudyDB(\"'+id+'\")\' id="deleteStudyDBBtn">Delete Study from DB</button>');
    $("#studyinfoTBL").replaceWith('<table class="table table-striped" id="studyinfoTBL">');
    var baseurl = "http://localhost:7474/db/data/ext/studyJsons/graphdb/getStudyMetaData";
    var method = "POST";
    var senddata = "{\"studyID\":\""+id+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    alert(evjson);
    ev = JSON.parse(evjson);
    var keys = Object.keys(ev.metadata);
    $(keys).each(function(index){
	if(keys[index]=="ot:studyPublication"){
	    $('#studyinfoTBL').append('<tr> <td>'+keys[index]+' </td> <td> <a href="'+ev.metadata[keys[index]]+'">'+ev.metadata[keys[index]]+'</a> </td> </tr>');
	}else{
	    $('#studyinfoTBL').append('<tr> <td>'+keys[index]+' </td> <td> '+ev.metadata[keys[index]]+' </td> </tr>');       
	}
    })
    var trees = ev.trees;
    var n_trees = trees.length;
    if(n_trees > 0){
	$('#studyinfoTBL').append('<tr><td>Trees ('+n_trees+')</td><td id="studytreelistID"></td></tr>');
	$(trees).each(function(index,element){
	    $('#studytreelistID').append('  <a href=tree_dyn.html?treeID='+element+' target="_blank">'+element+'</a>');
	    if(index != n_trees-1){
		$('#studytreelistID').append(',');
	    }
	})
    }
    //something about status
    $('#studyinfoTBL').append('<tr><td><b>Status</b></td><td>Info about mapped names, rooting, ingroup</td></tr>');
    $('#studyinfoTBL').append('</table>');
    //add the trees
    $(trees).each(function(index,element){
	$('#treeInfo').append('<h2>Tree: <a href="tree_dyn.html?treeID='+element+'">'+element+'</a> <button type="button" class="btn btn-large btn-success" name="cac" value=0 onClick="editTreeInfo()">Edit</button> <button type="button" class="btn btn-large btn-danger" name="cac" value=3 onClick=\'deleteTree("'+id+'","'+element+'")\'>Delete Tree</button></h2> <table class="table table-striped" id="treetable'+element+'">');
	addTreeInfo(id,element);
	$('#treeInfo').append('</table>');
    })
    
}

function editStudyInfo(){
    alert("this will edit the study metadata");
}function editTreeInfo(){
    alert("this will edit the tree metadata");
}
function exportStudy(){
    alert("this will export the study");
}
function pushStudy(){
    alert("this will push the study (after comparing to the git)");
}
function deleteStudyDB(sid){
    var baseurl = "http://localhost:7474/db/data/ext/studyJsons/graphdb/deleteStudyFromStudyID";
    var method = "POST";
    var senddata = "{\"studyID\":\""+sid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);    
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    window.location.href = "cgi-bin/load_studies.py";
}
function deleteStudyGIT(){
    alert("this will delete the study from git");
}
function deleteTree(sid, tid){
    var baseurl = "http://localhost:7474/db/data/ext/treeJsons/graphdb/deleteTreeFromTreeID";
    var method = "POST";
    var senddata = "{\"studyID\":\""+sid+"\",\"treeID\":\""+tid+"\"}";
    var xobjPost = new XMLHttpRequest();
    xobjPost.open(method, baseurl, false);
    xobjPost.setRequestHeader("Accept", "");
    xobjPost.setRequestHeader("Content-Type","application/json");
    xobjPost.send(senddata);
    var jsonrespstr = xobjPost.responseText;
    var evjson = eval(jsonrespstr);
    location.reload();
}
/*
 * used for grabbing the ottol id from the url string
 */
function getQueryVariable(variable){
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if(pair[0] == variable){return pair[1];}
  }
  return(false);
}
var id = getQueryVariable('studyID');
getStudyList(id);
setStudyTitle(id);
setStudyInfo(id);
</script>
</body>
</html>
